<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"/>
<html>
    <head>
        <title>Agregar Producto</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="agregarProducto">
            <div id="agregarProducto" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-titlte" th:text="#{accion.agregar}">Agregar Producto</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <!<!-- validacion con bootstrap -->
                        <form th:action="@{/guardar}" th:object="${producto}"
                              method="post" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{producto.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">   
                                </div>
                                <div class="form-group">
                                    <label for="descripcion" th:text="#{producto.descripcion}">Descripci</label>
                                    <input type="text" class="form-control" name="descripcion">   
                                </div>
                                <div class="form-group">
                                    <label for="marca" th:text="#{producto.marca}">Marca</label>
                                    <input type="text" class="form-control" name="marca" >   
                                </div>    
                                <div class="form-group">
                                    <label for="stock" th:text="#{producto.stock}">Stock</label>
                                    <input type="number" class="form-control" name="stock" required="true">   
                                </div>
                                <div class="form-group">
                                    <label for="precio" th:text="#{producto.precio}">precio</label>
                                    <input type="number" class="form-control" name="precio" required="true">   
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardarrrr</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
