<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"/>
    <head>
        <title>Editar Producto</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarProducto">
            <form th:action="@{/guardar}" th:object="${producto}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                <section th:replace="layout/botonesEditar :: botonesEditar"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.editar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">[[#{producto.nombre}]]</label>
                                            <input type="text" class="form-control" name="nombre" 
                                                   required="true" th:field="*{nombre}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">[[#{producto.descripcion}]]</label>
                                            <input type="text" class="form-control" name="descripcion" 
                                                  th:field="*{descripcion}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="marca">[[#{producto.marca}]]</label>
                                            <input type="marca" class="form-control" name="marca" 
                                                 th:field="*{marca}"/>
                                        </div>
                                         <div class="form-group">
                                            <label for="stock">[[#{producto.stock}]]</label>
                                            <input type="number" class="form-control" name="stock" 
                                                   required="true" th:field="*{stock}"/>
                                        </div>
                                         <div class="form-group">
                                            <label for="precio">[[#{producto.precio}]]</label>
                                            <input type="number" class="form-control" name="precio" 
                                                   required="true" th:field="*{precio}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>
