<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"/>
<html>
    <head>
        <title>Master Page</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!<!-- manejo de header por thymeleaf para ser reutilizado-->
        <header th:fragment="header">
            <h1>Iventario de productos</h1>
        </header>
        
        <!<!-- manejo de footer por thymeleaf -->        
        <footer th:fragment="footer">
            <p>Derechos reservados :<a href="https://github.com/kmra00/Portafolio" target="_blank">Portafolio</a></p>
        </footer>
    </body>
</html>
