<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"/>
    <head th:replace="layout/masterPage :: head">
        <title>Inicio</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/masterPage :: header"></header>
        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
        <!-- <section th:replace="layout/agregarProducto :: agregarProducto"></section>-->        
        <section th:replace="layout/listadoProductos :: listadoProductos"></section>
        <footer th:replace="layout/masterPage :: footer"></footer>



    </body>
</html>
