<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"/>
<head th:replace="layout/masterPage :: head">
    <title>Inventatio</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="layout/masterPage :: header"></header>
    <section th:replace="layout/editarProducto :: editarProducto"></section>
    <footer th:replace="layout/masterPage :: footer"></footer>

</body>
</html>
